---

---

<section class="w-full flex justify-center items-center py-9">
  <div class="flex flex-col w-full max-w-7xl gap-6">
    <div class="flex flex-col">
      <h2 class="text-4xl font-bold">Nuestras marcas</h2>
      <p>Encuentra variedad de productos en nuestros catálogos</p>
    </div>
    <div class="flex flex-col md:grid md:grid-cols-2 gap-4">
      <div
        class="grid grid-cols-2 border border-neutral-200 pl-2 md:pl-8 gap-2 rounded-md"
      >
        <div class="flex flex-col justify-center">
          <img src="/catalog/tvh.jpg" class="h-10 w-fit" />
          <p class="text-xs">
            Proveedor global de soluciones de manipulación, incluyendo
            montacargas y soporte técnico.
          </p>
        </div>
        <div
          class="relative overflow-hidden w-full h-full aspect-[4/3] rounded-r-md group/heli"
        >
          <img
            src="/catalog/heroes/tvh.jpg"
            class="absolute object-cover w-full h-full rounded-r-md group-hover/heli:scale-110 transition-transform"
          />
          <div class="w-full h-full bg-red-500 opacity-30"></div>
        </div>
      </div>
      <div
        class="grid grid-cols-2 border border-neutral-200 pl-2 md:pl-8 gap-2 rounded-md"
      >
        <div class="flex flex-col justify-center">
          <img src="/catalog/noblelift.jpg" class="h-10 w-fit" />
          <p class="text-xs">
            Fabricante líder de montacargas y soluciones innovadoras para
            operaciones eficientes.
          </p>
        </div>
        <div
          class="relative overflow-hidden w-full h-full aspect-[4/3] rounded-r-md group/heli"
        >
          <img
            src="/catalog/heroes/noblelift.jpg"
            class="absolute object-cover w-full h-full rounded-r-md group-hover/heli:scale-110 transition-transform"
          />
          <div class="w-full h-full bg-red-500 opacity-30"></div>
        </div>
      </div>
      <div
        class="grid grid-cols-2 col-span-2 border border-neutral-200 pl-2 shadow-sm md:pl-8 gap-2 rounded-md"
      >
        <div class="flex flex-col justify-center">
          <img src="/catalog/heli.jpg" class="h-10 w-fit" />
          <p class="md:w-2/3 text-xs">
            Soluciones de montacargas innovadoras y confiables para maximizar
            eficiencia.
          </p>
        </div>
        <div
          class="relative overflow-hidden w-full h-full aspect-[2/1.5] rounded-r-md group/heli"
        >
          <img
            src="/catalog/heroes/heli.jpg"
            class="absolute object-cover w-full h-full rounded-r-md group-hover/heli:scale-110 transition-transform"
          />
          <div class="w-full h-full bg-red-500 opacity-30"></div>
        </div>
      </div>
    </div>
  </div>
</section>
