---

---

<section class="w-full flex justify-center items-center py-9">
  <div class="flex flex-col w-full max-w-6xl gap-6">
    <div class="flex flex-col">
      <h2 class="text-4xl font-bold">Nuestras marcas</h2>
      <p>Encuentra variedad de productos en nuestros cat치logos</p>
    </div>
    <div class="flex flex-col md:grid md:grid-cols-2 gap-4">
      <div class="grid grid-cols-2 border border-neutral-200 pl-8 rounded-md">
        <div class="flex flex-col justify-center">
          <img class="bg-red-500 w-10 aspect-video rounded-md" />
          <p>Descripci칩n de la marca</p>
        </div>
        <img class="bg-red-500 w-full h-full aspect-[4/3] rounded-r-md" />
      </div>
      <div class="grid grid-cols-2 border border-neutral-200 pl-8 rounded-md">
        <div class="flex flex-col justify-center">
          <img class="bg-red-500 w-10 aspect-video rounded-md" />
          <p>Descripci칩n de la marca</p>
        </div>
        <img class="bg-red-500 w-full h-full aspect-[4/3] rounded-r-md" />
      </div>
      <div
        class="grid grid-cols-2 col-span-2 border border-neutral-200 pl-8 rounded-md"
      >
        <div class="flex flex-col justify-center">
          <img class="bg-red-500 w-10 aspect-video rounded-md" />
          <p>Descripci칩n de la marca</p>
        </div>
        <img class="bg-red-500 w-full h-full aspect-[2/1.5] rounded-r-md" />
      </div>
    </div>
  </div>
</section>
