---
const { href, classes, target } = Astro.props;
---

<a
  href={href}
  target={target}
  class={`bg-red-500 text-white px-6 py-2 cursor-pointer rounded-md hover:bg-red-600 transition-colors ${classes}`}
>
  <slot />
</a>
