---

---

<footer
  class="w-full bg-neutral-800 text-white py-8 flex justify-center items-center px-2"
>
  <div
    class="w-full max-w-7xl flex flex-col gap-4 md:gap-0 md:flex-row justify-between items-center"
  >
    <a href="#home" class="font-black text-red-500 text-2xl cursor-pointer">
      MA<span class="text-white">HEMA</span>
    </a>
    <menu class="flex gap-3 md:mr-8">
      <a class="hover:underline" href="#home">Inicio</a>
      <a class="hover:underline" href="#about">Nosotros</a>
      <a class="hover:underline" href="#contact">Contacto</a>
    </menu>
  </div>
</footer>
