---

---

<footer
  class="w-full bg-neutral-800 text-white py-8 flex justify-center items-center px-4"
>
  <div class="w-full max-w-6xl flex justify-between items-center">
    <img class="bg-red-500 w-12 aspect-square rounded-md" />
    <menu class="flex gap-3">
      <a class="hover:underline" href="/">Inicio</a>
      <a class="hover:underline" href="/about">Nosotros</a>
      <a class="hover:underline" href="/contact">Contacto</a>
    </menu>
  </div>
</footer>
