---

---

<nav class="flex fixed w-full inset-x-0 items-center justify-center p-2">
  <div
    class="w-full max-w-6xl flex justify-between items-center p-1 rounded-md border border-neutral-200 bg-white shadow-md"
  >
    <a>
      <img
        class="bg-red-500 w-10 aspect-square rounded-md"
        src="/images/logo.svg"
        alt="Logo"
      />
    </a>
    <menu class="flex items-center gap-4">
      <a class="hidden md:block px-2 hover:underline" href="/">Inicio</a>
      <a class="hidden md:block px-2 hover:underline" href="/about">Nosotros</a>
      <a
        class="bg-red-500 text-white px-3 py-2 rounded-md hover:bg-red-600 transition-colors"
        href="/contact">Contacto</a
      >
    </menu>
  </div>
</nav>
