---

---

<nav class="flex fixed w-full inset-x-0 items-center justify-center p-2 z-50">
  <div
    class="w-full max-w-7xl flex justify-between items-center p-1 pl-4 rounded-md border border-neutral-200 bg-white shadow-md"
  >
    <a href="#home" class="font-black text-red-500 text-2xl cursor-pointer">
      MA<span class="text-black">HEMA</span>
    </a>
    <menu class="flex items-center gap-4">
      <a class="hidden md:block px-2 hover:underline" href="#home">Inicio</a>
      <a class="hidden md:block px-2 hover:underline" href="#about">Nosotros</a>
      <a
        class="bg-red-500 text-white px-3 py-2 rounded-md hover:bg-red-600 transition-colors"
        href="#contact">Contacto</a
      >
    </menu>
  </div>
</nav>
