---

---

<a
  target="_blank"
  class="fixed z-40 hover:scale-110 transition-transform left-auto right-2 md:right-12 top-auto bottom-2 md:bottom-12"
  href="https://wa.me/525631066250"
>
  <img class="w-12 md:w-16" src="/whatsapp.png" />
</a>
